<form action="/" method="post">
  <input type="text" placeholder="Herb Name" name="herb_name">
  <input type="submit" value="Collect">

</form>
<hr>
<ul>
  <% herbs.each do |herb|%>
  <li><%= herb[:name] %></li>
    <% end %>
</ul>